In [2]:
import pandas as pd

In [4]:
df=pd.read_excel("HOD FACULTY LIST (2).xlsx")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   S.NO                 17 non-null     int64
 1   NAME OF THE FACULTY  17 non-null     object
 2   DESIGNATION          17 non-null     object
 3   DEPARTMENT           17 non-null     object
 4   MAIL ID,S            14 non-null     object
 5   CONTACT NUMBERS      17 non-null     int64
 6   Position             17 non-null     object
dtypes: int64(2), object(5)
memory usage: 1.1+ KB

In [18]:
df.drop(["Unnamed: 0.1","Unnamed: 0","S.NO"],inplace=True,axis=1)

In [19]:
df.head()

,NAME OF THE FACULTY,DESIGNATION,DEPARTMENT,"MAIL ID,S",CONTACT NUMBERS,Position
0,Mr.K.Ramana,Assistant Professor (C),CSE,ada_engg@rguktsklm.ac.in,8074166610,"Associate Dean of Academics,Engineering"
1,Dr.B.Swathi,Assistant Professor (C),CHEMISTRY,ada_puc@rguktsklm.ac.in,7780496464,"Associate Dean of Academics,PUC"
2,Mr.Y.V.G.NUKESWARA RAO,Mentor,ENGLISH,hodenglish@rguktsklm.ac.in,7780576518,HOD
3,"Dr.B,NEELA RAO",Assistant Professor (C),MATHEMATICS,hodmaths@rguktsklm.ac.in,9059111899,HOD
4,Mr.T.RAGHAVENDRA RAO,Assistant Professor (C),PHYSICS,hodphysics@rguktsklm.ac.in,9492520275,HOD

In [20]:
df.isnull().sum()

NAME OF THE FACULTY    0
DESIGNATION            0
DEPARTMENT             0
MAIL ID,S              3
CONTACT NUMBERS        0
Position               0
dtype: int64

In [21]:
df.to_csv("hod.csv")

In [22]:
df=pd.read_csv("hod.csv")

In [23]:
json_data=df.to_json(orient="records",indent=4)

In [24]:
with open("hod1.json","w") as file:
    file.write(json_data)

In [28]:
df=pd.read_excel("New Magazines as on 11-12-2023.xls")
df.to_csv("Magazines.csv")
df=pd.read_csv("Magazines.csv")
json_data=df.to_json(orient="records",indent=4)
with open("Magazines.json","w") as file:
    file.write(json_data)

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [29]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
df=pd.read_excel("Total Acession Register.xlsx")

df.to_csv("Acession1.csv")

df=pd.read_csv("Acession1.csv")
json_data=df.to_json(orient="records",indent=4)
with open("Acession1.json","w") as file:
    file.write(json_data)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("cars.csv")

In [3]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [4]:
df['brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [5]:
df['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [7]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [8]:
pd.get_dummies(df,columns=["fuel","owner"])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [10]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [17]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
one=OneHotEncoder(drop='first',dtype=np.int32)
new_data=one.fit_transform(df[["fuel","owner"]])

In [18]:
new_data.shape

(8128, 7)

In [21]:
df1=np.hstack((df[['brand','km_driven']].values,df))

In [23]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [24]:
counts = df['brand'].value_counts()

In [25]:
counts

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [28]:
df['brand'].nunique()
threshold = 100

In [30]:
df=pd.read_csv("covid_toy.csv")

In [31]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [33]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [35]:
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [36]:
y

0      No
1     Yes
2      No
3      No
4      No
     ...
95     No
96    Yes
97     No
98     No
99    Yes
Name: has_covid, Length: 100, dtype: object

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [55]:
x_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [56]:
from sklearn.impute import SimpleImputer
x_train.isnull().sum()

age       0
gender    0
fever     9
cough     0
city      0
dtype: int64

In [57]:
si_fever=SimpleImputer()
x_train_fever=si_fever.fit_transform(x_train[['fever']])
x_test_fever=si_fever.fit_transform(x_test[['fever']])

In [58]:
x_train_fever.shape

(80, 1)

In [59]:
x_train['cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [60]:
from sklearn.preprocessing import OrdinalEncoder

ord=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=ord.fit_transform(x_train[['cough']])
x_test_cough=ord.fit_transform(x_test[['cough']])

In [62]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder(drop="first")
x_train_one=one.fit_transform(x_train([["city","gender"]]))
x_test_one=one.fit_transform(x_test([["city","gender"]]))

TypeError: 'DataFrame' object is not callable

In [63]:
from sklearn.compose import ColumnTransformer
transformer=ColumnTransformer(transformers=[
    ("tnf1",SimpleImputer(),['fever']),
    ("tnf2",OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ("tnf3",OneHotEncoder(drop="first",sparse_output=False),['gender','city'])
    
],remainder='passthrough')

In [72]:
transformer.fit_transform(x_train).shape

ValueError: Expected 2D array, got 1D array instead:
array=[80 7].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
transformer.transform(x_test)

array([[104.,   0.,   0.,   0.,   1.,   0.,  17.],
       [ 98.,   0.,   1.,   1.,   0.,   0.,  83.],
       [101.,   1.,   0.,   1.,   0.,   0.,  68.],
       [ 99.,   0.,   1.,   0.,   0.,   0.,  72.],
       [102.,   1.,   1.,   1.,   0.,   0.,  20.],
       [103.,   0.,   0.,   0.,   1.,   0.,  50.],
       [ 98.,   1.,   0.,   0.,   1.,   0.,  71.],
       [ 99.,   0.,   0.,   0.,   0.,   1.,  14.],
       [101.,   0.,   0.,   1.,   0.,   0.,  75.],
       [103.,   0.,   1.,   0.,   1.,   0.,  60.],
       [ 98.,   0.,   0.,   0.,   0.,   0.,  64.],
       [101.,   0.,   1.,   1.,   0.,   0.,  15.],
       [ 98.,   1.,   1.,   0.,   1.,   0.,  34.],
       [ 98.,   0.,   0.,   0.,   1.,   0.,  26.],
       [ 99.,   1.,   0.,   1.,   0.,   0.,  59.],
       [101.,   0.,   0.,   0.,   0.,   1.,  65.],
       [100.,   0.,   1.,   0.,   0.,   0.,  80.],
       [101.,   0.,   0.,   0.,   1.,   0.,   8.],
       [ 99.,   1.,   0.,   0.,   1.,   0.,  25.],
       [103.,   0.,   1.,   0.,   1.,   0.,  83.]])